node_modules
node_modules*
*.mp4
*.mov
*.avi
*.mkv
dist/

.angular/
.DS_Store
package-lock.json

# Local development logs
logs/*.log
data/
central-server/tmp/

# Configurations avec mots de passe
raspberry/config/templates/*-configuration.json
!raspberry/config/templates/TEMPLATE-configuration.json
raspberry/deploy/
