apiVersion: apps/v1
kind: Deployment
metadata:
  name: central-server
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: central-server
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi
